/*
Theme Name: Blu E Maremma
Template: BookYourTravel
Author: Child Theme Configurator
Version: 1.0.1455744849
Updated: 2016-02-17 21:34:09
*/

@charset "UTF-8";

h1, h2, h3, h4, h5 {
    font-family: Trebuchet MS, sans-serif !important;
    letter-spacing: 2px;
}

h1, .home-content-sidebar h3 {
    color: #666;
    padding-bottom: 22px;
}

h4 {
    padding: 0px;
}

a {
    text-decoration: none;
}
#mega-menu-wrap-primary-menu,.main-nav {
    background-image: -moz-linear-gradient(top, rgba(193,182,174,1), rgba(186,172,163,1));
    background-image: -moz-linear-gradient(top, rgb(52, 84, 125), rgb(51, 87, 123));
    background-image: -webkit-linear-gradient(top, rgba(193,182,174,1), rgba(186,172,163,1));
    background-image: -moz-linear-gradient(top, rgb(46, 78, 116), rgb(150, 154, 166));
    background-image: -webkit-linear-gradient(top, rgb(52, 84, 125), rgb(51, 87, 123));
    background-image: -o-linear-gradient(top, rgba(193,182,174,1), rgba(186,172,163,1));
    background-image: -webkit-linear-gradient(top, rgb(46, 78, 116), rgb(150, 154, 166));
    background-image: -o-linear-gradient(top, rgb(52, 84, 125), rgb(51, 87, 123));
    background-image: -ms-linear-gradient(top, rgba(193,182,174,1), rgba(186,172,163,1));
    background-image: -o-linear-gradient(top, rgb(46, 78, 116), rgb(150, 154, 166));
    background-image: linear-gradient(to bottom, rgba(193,182,174,1), rgba(186,172,163,1));
    background-image: -ms-linear-gradient(top, rgb(52, 84, 125), rgb(51, 87, 123));
    background-image: -ms-linear-gradient(top, rgb(46, 78, 116), rgb(150, 154, 166));
    background-image: linear-gradient(to bottom, rgb(52, 84, 125), rgb(51, 87, 123));
    background-image: linear-gradient(to bottom, rgb(46, 78, 116), rgb(150, 154, 166));
    background-color: rgb(50, 84, 122);
}
.contact {
    width: 260px;
    margin-top: 15px;
    background-image: none;
}
.contact:before {
    display: none;
    /*background-image: url(/wp-content/themes/BookYourTravel/images/themes/blue/ico/icons.png);*/
}
.deals.full h1:first-child {
    padding-top: 12px;
    padding-bottom: 18px;
}
.entry-header p {
    height: 0;
    visibility: hidden;
}
.three-fourth .post-comment {
    display: none;
}
footer .widget {
    width: 63.5%;
}
.pt-cv-wrapper .btn-success {
    color: #fff;
    background-color: #50afc3;
    border-color: #50afc3;
    margin: 8px;
}
.main-nav li.current-menu-item a, .main-nav .current-menu-parent > a {
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    color: #000;
}
a.flag, a.nturl {
    margin-top: -3px;
    cursor: pointer;
}
.DOP_NextGENThumbnailGallery_Caption {
    position: absolute;
    display: none;
    background-image: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.header .search {
    width: 250px;
    float: right;
    display: block;
}
.home .deals {
    width: 100%;
    display: inline-block;
    background-image: url(/wp-content/themes/BookYourTravel/images/bgr/separator.jpg);
    background-repeat: repeat-x;
    background-position: 0 100%;
    margin: -33px 0 20px;
    padding: 0 0 40px;
}

.contact img.alignnone {
	margin-bottom: 0px;
}

.home .deals {
    padding-bottom: 0px;
}

footer {
    padding-top: 24px;
}

/*.header .social{
    float: right;
    width: 200px;
    margin-top: 48px;
}

.header .social li {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 3px 2.4% 0 0;
    background: url(/wp-content/themes/BookYourTravel/images/ico/icons.png) 0 -400px no-repeat;
    padding: 0;
}

.header .social li a {
    float:left;
    display:block;
    width:100%;
    height:100%;
    text-indent:-99999px;
    background:url(/wp-content/themes/BookYourTravel/images/ico/icons.png) 0 -80px no-repeat;
}*/

/*.header .social .facebook a   {background-position:0 -80px;}
.header .social .youtube a   {background-position:0 -120px;}
.header .social .rss a    {background-position:0 -160px;}
.header .social .linkedin a   {background-position:0 -200px;}
.header .social .googleplus a  {background-position:0 -240px;}
.header .social .twitter a   {background-position:0 -280px;}
.header .social .vimeo a    {background-position:0 -320px;}
.header .social .pinterest a   {background-position:0 -360px;}
.header .social li:last-child,
.header .social li.last  {margin:3px 0 0;}*/

.header .BookYourTravel_Social_Widget {
    float: left;
    margin-top: 48px;
    margin-left: 24px;
}

#lang_sel_list {    
    position: absolute;
    right: 20px;
    bottom: -28px;
    background-color: transparent;
    z-index:1000;
    border: none;
}

#lang_sel_list ul > li:before {
    content:"";
}

#lang_sel_list a.lang_sel_sel, #lang_sel_list a.lang_sel_sel:visited,
#lang_sel_list ul a.lang_sel_other, #lang_sel li ul a:link, 
#lang_sel_list ul a.lang_sel_other:visited {
    background-color: transparent !important;
    margin-right: 12px;
}

#lang_sel_list ul {
    border-top: none !important;
}

.logo {
    width: auto !important;
}

.header .contact {
    width: 260px !important;
    margin: 20px 22px 0;
}

.logo img {
    height: 80px;
}

.home-boxes .su-column .su-column-inner {
    position: relative;
    background: rgba(0,0,0,0.5);
}

.su-row-eq-height .su-column-inner {
    background: rgba(0,0,0,0.5);
    height:100%;
}

.su-row-eq-height .su-column-inner .btn {
    position: absolute;
    bottom: 0px;
}

.home-boxes.su-row-eq-height .su-column-inner {
    padding-bottom: 24px;
}

.home-boxes h1, .home-boxes h2, .home-boxes h3, .home-boxes h4 {
    position: absolute;
    top: 5%;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    min-width: 80%;
}

.home-boxes h1 {
    font-size: 26px;
    left: 8px;
    transform: none;
}

.home-boxes h2 {
    font-size: 18px;
    left: 8px;
    right: 25%;
    transform: none;
    text-align: left;
}

.home-boxes h3 {
    font-size: 20px;
    /*white-space: nowrap;*/
}

.hp-villas-and-apartments h3 {
    font-size: 20px;
}

.home-boxes p {
    padding-bottom: 0px;
}

.home-boxes .caption {
    /*position: absolute;
    bottom: 20px;
    text-align: left;
    padding: 4px;
    display: block;
    background: rgba(0,0,0,0.8);
    color: #fff;
    left: 0px;
    transform: translate(-50%, 0);*/
    font-size: 14px;
    /*background: rgba(0,0,0,0.5);*/
    color: #fff;
    padding: 4px;
    display: table-cell;
}

/*.home-content-sidebar .pt-cv-ifield {
    padding: 0px;
}

.home-content-sidebar .pt-cv-ifield h4, .pt-cv-ifield .pt-cv-content {
    padding: 4px;
}

.home-content-sidebar .pt-cv-ifield .pt-cv-content .btn {
    text-align: right;
}

.home-content-sidebar .pt-cv-ifield .pt-cv-title a {
    color: #fff;
}*/

.home-boxes.su-row {
    margin-bottom:0px;
}

.home-boxes.su-row .su-column {
    margin: 0px;
}

.home-boxes .su-column-size-2-3 {
    width: 66%;
}

.home-boxes .su-column-size-1-3 {
    width: 32%;
    margin-left: 1% !important;
    padding-left: 0px;
    padding-right: 0px;
}

.home-boxes .su-column-size-1-2 {
    width: 49%;
}

.home-boxes .su-column-size-1-5, .pt-cv-colsys [data-cvc="5"] .pt-cv-content-item {
    width: 19.2% !important;
    margin-left: 1% !important;
    padding-left: 0px;
    padding-right: 0px;
}

.pt-cv-colsys [data-cvc="5"] div.pt-cv-content-item:first-child {
    margin-left: 0px !important;
}

.pt-cv-colsys {
    margin-left: 0px !important;
    margin-right: 0px;
}

/*.hp-tours .su-column {
    max-height: 350px;
    overflow: hidden;
}*/

.hp-tours .caption {
    left: auto;
    transform: none;
    /*position: absolute;*/
    bottom: 0px;
    height: 180px;
    display:block;
}

.hp-head-villas, .hp-head-tours {
    max-height: 360px;
    overflow: hidden;
}

.hp-head-villas .btn{
    position:absolute;
    left: 64%;
    top: 64px;
}

.hp-head-tours .btn{
    position:absolute;
    left: 50%;
    top: 74px;
}

.hp-villas-and-apartments .btn {
    float: right;
    margin-top: 8px;
}

.hp-tours .btn {
    /*position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);*/
    /*float: right; */
    margin: 4px;
    position: absolute;
    bottom: 4px;
}

.home-content-sidebar {
    margin-top: 32px;
}

.home-boxes .su-column-size-1-5.hp-terme {
    margin-left: 0% !important;
}

.home-content-sidebar h2 {
    display: none;
}

.breadcrumbs {
    float: none;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: solid 1px #444;
}

.accommodation-details {
    margin-top: 23px;
}

#description .su-row img, #description .su-row p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.pt-cv-title {
    margin-bottom: 10px;
    height: 45px;
    overflow: hidden;
    font-size: 15px;
}

.pt-cv-content {
    min-height: 140px;
}

.pt-cv-readmore {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 0px !important;
}

.pt-cv-ifield {
    position:relative; 
}

.pt-cv-ifield:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    width: 74px;;
    transition: all 0.8s;
    opacity: 1;
    background-size: 100% 100%;
}

#pt-cv-view-0b7dce0635 .pt-cv-ifield:before {
    background-image: url(http://www.bluemaremmaviaggi.com/wp-content/uploads/2014/08/banner-in-evidenza-en.png);
}

#pt-cv-view-9866bced13 .pt-cv-ifield:before {
    background-image: url(http://www.bluemaremmaviaggi.com/wp-content/uploads/2014/08/banner-in-evidenza-it.png);
}

#pt-cv-view-a321c42cbc .pt-cv-ifield:before {
    background-image: url(http://www.bluemaremmaviaggi.com/wp-content/uploads/2014/08/banner-in-evidenza-ru.png);
}

header h3 {
    padding-bottom:0px;
}

.home-boxes .su-column-size-1-5 img, .pt-cv-colsys [data-cvc="5"] .pt-cv-content-item img {
        width: 100%;
}

.header {
    z-index:10;
}

.wprmenu_bar {
    z-index: 10000 !important;
}

.su-row:before {
    display: table;
    content: " ";
}

.su-row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.post-7592 div.rev_slider_wrapper,
.post-10360 div.rev_slider_wrapper,
.post-10367 div.rev_slider_wrapper {
    background: url('http://www.bluemaremmaviaggi.com/wp-content/uploads/2016/09/villa2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

.fullwidthabanner.revslider-initialised {
    background: #E9E6E0;
}

@media screen and (max-width: 1100px) {
    .header .search {
		margin: 20px 10px 20px 0;
		width:200px;
		float:right;
	}
    .header .contact {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px) {
	.header .search {
		margin: 20px 10px 20px 0;
		width:250px;
		float:right;
	}

	.contact img.alignnone {
		margin-top: 0px;
		margin-left: 15px;
	}
	
	.header .social {
	    display: none;
	}
	
	.pt-cv-readmore {
        position: absolute;
        bottom: -20px !important;
    }
    
    .header {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
	.contact{
		display: none;
	}
	.header .search {
		display: none;
	}
	.header .social {
	    display: none;
	}
	
	#lang_sel_list {
	    right:20px;
	    bottom:40px;
	}
	
	.home-boxes .su-column-size-1-5, .pt-cv-colsys [data-cvc="5"] .pt-cv-content-item {
        width: 49% !important;
        margin-left: 1% !important;
        padding-left: 0px;
        padding-right: 0px;
        float: left !important;
    }
    
    .pt-cv-readmore {
        position: relative;
        bottom: 0px;
    }
    
    .main-nav {
        display: none;
    }
    
    .logo {
        margin-top: 34px;
    }
    
    button#responsive-menu-button {
        width: auto !important; 
        height: 45px !important;
    }
}

@media screen and (max-width: 500px) {
    
    .pt-cv-ifield {
        height: 330px;
    }
    
    .logo img {
            height: auto;
    }
    
    .forcefullwidth_wrapper_tp_banner {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .home-boxes .su-column-size-1-5, .pt-cv-colsys [data-cvc="5"] .pt-cv-content-item {
        width: 100% !important;
        margin-left: 1% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .pt-cv-ifield {
        height: auto;
    }

}




